.btn {
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: .125rem solid #fff;
    color: var(--color-primary);
    border-radius: 5rem;
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn:hover, 
.btn:active,
.btn:focus,
.btn--institutional,
.btn__contact {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;

}

.btn--institutional:hover,
.btn__contact:hover {
    color: var(--color-copy);
    background: unset;
    box-shadow: 0 .5rem .5rem #0004;
}

.btn__contact:hover{
    color: #fff;
}
.btn--quote {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
}