@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-primary: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 6.25rem;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.25rem;
    padding: 0 1rem;
    background-color: #000;
    color: #fff;
}

.navbar__links {
    justify-self: end;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
}

.navbar__links li {
    font-weight: 300;
    text-transform: uppercase;
    font-size: .875rem;
    margin-right: 3rem; /*equivale a 16px por padrão, mas ele pega o valor equivalente ao que está no root*/
    /*Converter px em rem  px/rem(padrão)*/
}
.navbar__links a:hover {
    color: var(--color-primary);
}

.copy-primary {
    color: var(--color-primary);
}

.logo-studion {
    line-height: .4ch;
    text-align: right;
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
    /*text-align: right;*/
    /*float: right;*/
}