@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary: #ffc500;
    --default-padding: 1rem;
}

body {
    margin: 0;
    padding-top: 6.25rem;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    position: fixed;
    z-index: 1; /*use só quando outros elementos sobressaem sobre a navbar*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.25rem;
    padding: 0 1rem;
    background-color: #000;
    color: #fff;
}

.navbar__links {
    justify-self: end;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
}

.navbar__links li {
    font-weight: 300;
    text-transform: uppercase;
    font-size: .875rem;
    margin-right: 3rem; /*equivale a 16px por padrão, mas ele pega o valor equivalente ao que está no root*/
    /*Converter px em rem  px/rem(padrão)*/
}
.navbar__links a:hover {
    color: var(--color-primary);
}

.copy--primary {
    color: var(--color-primary);
}

.logo-studion {
    line-height: .4ch;
    text-align: right;
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
    /*text-align: right;*/
    /*float: right;*/
}

#slider {
    /*height: calc(100vh - 6.25rem);*/ /*vh o tamanho da viewport e valor rem equivalente a largura do navbar*/
    /*padding: var(--default-padding);*/
    background-color: #000;
    /*background-image: url('./img/Carrossel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 6.25rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 6.25rem;
    left: 50vw;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide__copy h2 {
    font-size: 6.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: .125rem solid #fff;
    color: var(--color-primary);
    border-radius: 5rem;
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn:hover, 
btn:active, 
btn:focus {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;

}