@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@import "./css/_variable.css";
@import "./css/_base.css";
@import "./css/_utils.css";
@import "./css/_btn.css";

@import "./css/_navbar.css";
@import "./css/_hero.css";
@import "./css/_footer.css";

@import "./css/_home.css";
@import "./css/_contact.css";





